@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans.woff") format(woff),
	url("../fonts/ptsans.woff2") format(woff2);
}

@font-face {
	font-family: "PTSansbold";
	src: url("../fonts/ptsansbold.woff") format(woff),
	url("../fonts/ptsansbold.woff2") format(woff2);
	font-weight: bold;
}


body {
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	min-width: 1200px;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 20px -6px;
}

.main-nav ul {
	font-size: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	font-size: 14px;
	line-height: 26px;
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.main-nav a {
	color: #000000;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.main-nav .active {
	color: #766357;
}

.main-nav li:nth-child(1),
 .main-nav li:nth-child(2){
	float: left;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
	float: right;
}

.logo {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.picture {
	background: #c49b7f 0 -50px url("../img/fon-mid.jpg");
	height: 510px;
	padding-top: 75px;
	position: relative;
}

.picture-text {
	text-align: center;
}

.picture-mask {
	width: 100%;
	height: 57px;
	position: absolute;
	top: 530px;
	background: url("../img/mask.png");
	z-index: 6;
}
	
.content-top {
	height: 150px;
	padding-top: 65px;
}

.content-top p,
.content-top h2 {
	padding: 0;
	margin: 0;
}

.content-top h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.content-top p {
	font-size: 15px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.feature-wrapper {
	display: flex;
}

.feature-fact {
	width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #81b3d2;
}

.feature-fact h2 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.feature-fact span,
.feature-fact p {
	font-weight: normal;
	color: #ffffff;
 }

.tips-wrapper {
	font-size: 0;
	margin-top: 60px;
	margin-bottom: 80px;
}

.tip {
	display: inline-block;
	width: 400px;
	text-align: center;
	color: #333333;
}

.tip h3 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.tip p {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.features {
	font-size: 0;
	background-color: #EEEEEE;
}

.features-item {
	display: inline-block;
	width: 400px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 65px;
}

.features-item h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.features-item p,
.features-item span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.booking-wrapper {
	position: relative;
}

.booking {
	text-align: center;
	padding-top: 55px;
	padding-bottom: 135px;
}

.booking-title {
	font-size: 30px;
	line-height: 24px;
}

.booking-text {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	font-weight: normal;
}

.map {
	font-size: 0;
}

.popup {
	width: 570px;
	height: 480px;
	background-color: #ffffff;
	position: absolute;
	left: 50%;
	margin-left: -285px;
	top: 208px;
	z-index: 1;
}

.popup-title {
	background-color: #766357;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.popup-title p {
	margin: 0;
}

.popup-content {
	padding: 55px;
}

.popup-content label {
	font-size: 14px;
	line-height: 26px;
}

.popup-choice {
	display: flex;
	margin-bottom: 30px; 
	align-items: baseline;
}

.popup-choice button {
	position: absolute;
	left: 330px;
	top: 10px;
	width: 20px;
	height: 20px;
	background: url("../img/calendar.png");
	border: 0;
}

.data {
	position: relative;
}

.data input {
	width: 330px;
	background-color: #f2f2f2;
	border: 0;
	padding: 10px;
	margin-left: 15px;
	font-size: 14px;
	line-height: 26px;
}

.popup-guests {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.guests-adults,
.guests-children {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.guests-children label,
.guests-adults label {
	margin-right: 35px;
}

.number {
	display: flex;
}

.number-decrease,
.number-increase,
.number input {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	border: 0; 
	text-align: center;
	padding: 0;
}

.found-btn {
	width: 460px;
	height: 60px;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold; 
	border: none;
}

.found-btn:hover {
	background-color: #669ec0;
}

.found-btn:active {
	background-color: #5496bd;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.footer-hashtag span {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.social-btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: #81b3d2 50% 50% no-repeat;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn-tw {
	background-image: url("../img/tw.png");
}

.social-btn-fb {
	background-image: url("../img/fb.png");
}

.social-btn-yt {
	background-image: url("../img/yt.png");
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright p {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}

.footer-copyright img {
	margin-left: 8px;
}

.footer-copyright a:hover {

}

.inner {
	padding: 30px 73px;
}

.filter {
	background: #78b3d2 url("../img/fon-header.jpg");
	display: flex;
	color: #ffffff;
}

.filter h3 {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.filter-infrastructure,
.filter-type-house,
.filter-rang {
	display: flex;
	flex-direction: column;
}

.filter label {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.filter-infrastructure label,
.filter-type-house label {
	padding-top: 30px;
}

.filter-infrastructure span,
.filter-type-house span {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.filter input[type="checkbox"] {
	display: none;
}

.filter label>input[type="checkbox"] + span::before {
	content: "";
    display: inline-block;
	width: 25px;
	height: 20px;
	background-image: url("../img/chek-.png");
	background-repeat: no-repeat;
	padding-left: 10px;
}

.filter label>input[type="checkbox"]:checked + span::before {
	content: "";
    display: inline-block;
	width: 25px;
	height: 20px;
	background-image: url("../img/chek.png");
	background-repeat: no-repeat;
}

.filter-type-house {
	margin-left: 115px;
}

.filter-rang {
	margin-left: auto;
	width: 330px;
}

.filter-price {
	display: flex;
	justify-content: space-around;
	position: relative;
	height: 36px;
	border: 2px solid #ffffff;
	border-radius: 2px;	
	margin-top: 10px;
	font-size: 0;
}

.filter-price label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 36px;
	font-weight: normal;
	cursor: pointer;
}

.filter-price .price-min,
.filter-price .price-max {
	width: 90px;
	/*padding-left: 65px;*/
}

.filter-price input {
	width: 50px;
	margin: 0;
	border: none;
	color: inherit;
	font: inherit;
	background: none;
}

.filter-price:after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.range {
	margin-top: 20px;
	position: relative;
	height: 2px;
}

.scale {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);	 
	position: absolute;
}

.scale-line {
	width: 80%;
	height: 100%;
	background-color: #ffffff;
	position: absolute;
}

.toggle {
    position: absolute;
    top: -8px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    cursor: pointer;
}

.toggle:hover {
	background-color: #1c4f80;
}

.range-min {
	left: 0;
}

.range-max {
	left: 80%;
}

.filter-rang button {
	display: block;
	width: 133px;
	height: 32px;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 2px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
}

.filter-rang button:hover {
	background-color: #ffffff;
	color: #000000;
}

.sort {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px; 
}

.sort p,
.sort ul {
	margin: 0;
}

.sort-find {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sort-items {
	display: flex;
	align-items: flex-start;
	margin-left: 50px;
	align-items: baseline;
}

.sort-items p {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sort-items ul {
	list-style: none;
	padding: 0;
	display: flex;
}

.sort-items a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	margin-left: 35px;
	opacity: 0.3;
	border-bottom: 1px dashed #81b3d2;
}

.sort-items .active {
	border-bottom: none;
	color: #81b3d2;
	opacity: 1;
}

.sort-items a:hover {
	color: #81b3d2;
	opacity: 1;
}

.sort-items a:active {
	color: #000000;
	opacity: 1;
}

.order-acs,
.order-decs {
	display: inline-block;
	width: 11px;
	height: 10px;
}

.sort-order {
	margin-left: auto;
}

.order-acs {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #cccccc transparent;
}

.order-acs:hover {
	border-color: transparent transparent #000000 transparent;
}

.order-acs:active {
	border-color: transparent transparent #81b3d2 transparent;
}

.order-decs {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #81b3d2 transparent transparent transparent;
	margin-left: 10px;
}

.order-decs:hover {
	border-color: #000000 transparent transparent transparent;
}

.order-decs:active {
	border-color: #81b3d2 transparent transparent transparent;
}

.item {
	display: flex;
	padding: 30px 73px;
	border-top: 1px solid rgba(102, 102, 102, 0.3);
}

.item:last-child {
	border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

.item p,
.item h2 {
	margin: 0;
	padding: 0;
}

.describes-title a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;

}

.describes-title a:hover {
	color: #81b3d2;  #cacaca
}

.describes-title a:active {
	color: #cacaca;
}

.item-describes {
	margin-left: 30px;
}

.item-btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
}

.item-details {
	padding: 10px 0;
	position: relative;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.item-price {
	position: absolute;
	right: 75px;
}

.item-btn-wrapper a {
	padding: 0;
	margin: 0;
	line-height: 27px;
}

.details {
	display: inline-block;
	width: 110px;
	background-color: #81b3d2;
}

.details:hover {
	background-color: #669ec0;
}

.details:active {
	background-color: #5496bd;
}

.details span:active {
	opacity: 0.3;
}

.reserve {
	display: inline-block;
	width: 140px;
	background-color: #766357;	
}

.reserve:hover {
	background-color: #604e43;
}

.reserve:active {
	background-color: #503e33;
}

.reserve span:active {
	opacity: 0.3;
}

.item-rating {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	justify-content: space-around;
	align-items: flex-end;
}

.rating-star {
	width: 15px;
	height: 15px;
	background-image: url("../img/star.png");
}

.rating-star-wrapper span {
	display: inline-block;
}

.rating-result p {
	width: 110px;
	height: 18px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 7px;
}