@font-face {
	font-family: "PTSans";
	src: 
		local("PTSans"),
		url("../fonts/ptsans.woff2") format(woff2),
		url("../fonts/ptsans.woff") format(woff);
}

@font-face {
	font-family: "PTSansbold";
	src: 
		local("PTSansbold"),
		url("../fonts/ptsansbold.woff2") format(woff2),
		url("../fonts/ptsansbold.woff") format(woff);
	font-weight: bold;
}

html {
	background-color: #f2f2f2;
}

body {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	min-width: 1200px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 20px -6px;
	position: relative;
}

.main-nav ul {
	font-size: 0;
	padding: 0;
	list-style: none;
}

.main-nav li {
	font-size: 14px;
	line-height: 26px;
	width: 240px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.main-nav a {
	color: #000000;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.main-nav .active {
	color: #766357;
}

.main-nav li:nth-child(1),
 .main-nav li:nth-child(2){
	float: left;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
	float: right;
}

.logo {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -70px;
	z-index: 2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.picture {
	background: #c49b7f 0 -50px url("../img/fon-mid.jpg");
	height: 433px;
	padding-top: 75px;
	position: relative;
}

.picture-text {
	text-align: center;
}

.picture-mask {
	width: 100%;
	height: 57px;
	position: absolute;
	top: 451px;
	background: url("../img/mask.png");
	z-index: 6;
}
	
.content-top {
	padding-top: 59px;
	padding-bottom: 51px;
}

.content-top p,
.content-top h1 {
	padding: 0;
	margin: 0;
	text-align: center;
}

.content-top h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 28px;
}

.content-top p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
}

.feature-wrapper {
	display: flex;
}

.feature-wrapper img {
	display: block;
}

.feature-fact {
	width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #81b3d2;
}

.feature-fact h2 {
	margin: 0;
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.feature-fact span,
.feature-fact p {
	margin: 0;
	font-weight: normal;
	color: #ffffff;
 }

 .feature-fact span {
 	margin: 25px 0;
 }

.tips-wrapper {
	font-size: 0;
	margin-top: 57px;
	margin-bottom: 78px;
}

.tip {
	display: inline-block;
	width: 400px;
	text-align: center;
}

.tip h3 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 23px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.tip p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.tip-item {
	width: 75px;
	height: 70px;
	background-image: url("../img/sprite.png");
	margin: 0 auto;
}

.home {
	background-position: -5px -274px;
}

.food {
	background-position: -5px -194px;
}

.souvenirs {
	width: 65px;
	height: 75px;
	background-position: -5px -503px;
}

.features {
	font-size: 0;
	background-color: #EEEEEE;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 61px;
}

.features-item h2,
 .features-item p {
	margin: 0;
}

.features-item h2 {
	margin: 0;
	margin-bottom: 24px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.features-item span {
	display: block;
	margin-bottom: 22px;
}

.features-item p,
.features-item span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
}

.booking-wrapper {
	position: relative;
}

.booking {
	text-align: center;
	padding-top: 52px;
	padding-bottom: 133px;
}

.booking-title {
	display: block;
	font-size: 30px;
	line-height: 30px;
}

.booking-text {
	margin: 0;
	margin-top: 27px;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	font-weight: normal;
}

.map {
	width: 100%;
	height: 595px;
	font-size: 0;
	background: url("../img/map.jpg") no-repeat;
}

.popup {
	width: 570px;
	height: 480px;
	position: absolute;
	left: 50%;
	margin-left: -285px;
	top: 205px;
	overflow: hidden;
}

.popup-btn button {
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: #766357;
	border: none;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;
	text-transform: inherit;
	cursor: pointer;
}

.popup-content {
	padding: 54px 55px;
	background-color: #ffffff; 
	box-shadow: 0 0 7px -2px;
	transition: 3s;
}

.content-close {
	transform: translateY(-100%);
}


.popup-content label {
	font-size: 14px;
	line-height: 26px;
	cursor: pointer;
}

.popup-choice {
	display: flex;
	margin-bottom: 29px; 
	align-items: baseline;
}

.popup-choice label {
	width: 345px;
}

.calendar {
	position: absolute;
	left: 315px;
	top: 9px;
	width: 21px;
	height: 22px;
	background: -5px -5px url("../img/sprite.png");
	border: 0;
	cursor: pointer;
}

.calendar:hover {
	background-image: url("../img/sprite.png");
	background-position:  -5px -69px;
}

.calendar:active {
	background: url("../img/sprite.png");
	background-position:  -5px -37px;
	outline: none;
}

.data {
	position: relative;
}

.data input {
	width: 345px;
	height: 38px;
	background-color: #f2f2f2;
	border: 0;
	padding: 6px 10px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.data input:hover {
	background-color: #ebebeb;
}

.data input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.popup-guests {
	display: flex;
	justify-content: space-between;
	margin-bottom: 53px;
}

.guests-adults,
.guests-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.guests-adults label {
	margin-right: 43px;
}

.guests-children label {
	margin-right: 27px;
}

.number {
	display: flex;
}

.number-decrease,
.number-increase,
.number input {
	width: 38px;
	height: 40px;
	background-color: #f2f2f2;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase; 
	text-align: center;
	padding: 0;
	cursor: pointer;
}

.number input {
	text-transform: uppercase;
}

.number-decrease,
.number-increase {
	font-size: 24px;
}

.number-decrease,
.number-increase {
	color: #a9a9a9;
}

.number-decrease:hover,
.number-increase:hover {
	color: #000000;
}

.number-decrease:active,
.number-increase:active {
	color: #81b3d2;
}

.found-btn {
	width: 460px;
	height: 58px;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #ffffff;
	text-transform: inherit;
	font-weight: bold; 
	border: none;
	cursor: pointer;
}

.found-btn:hover {
	background-color: #669ec0;
}

.found-btn:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 31px 100px 35px 133px;
}

.footer-specific {
	width: 100%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.85);
	position: absolute;
	bottom: 0;
	z-index: 15;
}

.footer-hashtag span {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.footer-social {
	margin-left: 27px;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	font-size: 0px;
	background: #81b3d2 50% 50% no-repeat;
	position: relative;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn:active::before {
	background-color: #5496bd;
	opacity: 0.3;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

.social-btn-tw::before {
	width: 17px;
    height: 15px;
	background-position: -5px -616px;
}

.social-btn-fb::before {
	width: 10px;
    height: 19px;
	background-position: -5px -165px;
}

.social-btn-yt::before {
	width: 20px;
    height: 16px;
	background-position: -5px -641px;
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright p {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
}

.copyright-logo {
	width: 115px;
	height: 40px;
	margin-left: 8px;
	background: -5px -454px url("../img/sprite.png") no-repeat;
}

.copyright-logo:hover {
	background: -5px -405px url("../img/sprite.png") no-repeat;
}

.copyright-logo:active {
	background: -5px -356px url("../img/sprite.png") no-repeat;
}

.inner {
	padding: 27px 71px 31px;
}

.filter {
	background: #78b3d2 url("../img/fon-header.jpg");
	display: flex;
	color: #ffffff;
}

.filter h3 {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.filter-infrastructure,
.filter-type-house,
.filter-rang {
	display: flex;
	flex-direction: column;
}

.filter label {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.filter-infrastructure label,
.filter-type-house label {
	padding-top: 24px;
}

.filter-infrastructure span,
.filter-type-house span {
	cursor: pointer;
	display: flex;
}

.filter input[type="checkbox"] {
	display: none;
}

.filter label>input[type="checkbox"] + span::before {
	content: "";
    display: inline-block;
    vertical-align: top;
	width: 22px;
	height: 22px;
	background-image: url("../img/sprite.png");
	background-position: -5px -133px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.filter label>input[type="checkbox"]:checked + span::before {
	background-image: url("../img/sprite.png");
	background-position: -5px -101px;
	background-repeat: no-repeat;
}

.filter label>input[type="checkbox"]:disabled + span::before {
	background-image: url("../img/sprite.png");
	background-position: -5px -667px;
	background-repeat: no-repeat;
}

.filter label>input[type="checkbox"]:checked:disabled + span::before {
	background-image: url("../img/sprite.png");
	background-position: -5px -699px;
	background-repeat: no-repeat;
}

.filter-type-house {
	margin-left: 118px;
}

.filter-rang {
	margin-left: auto;
	width: 330px;
}

.filter-price {
	display: flex;
	position: relative;
	height: 33px;
	border: 2px solid #ffffff;
	border-radius: 2px;	
	margin-top: 10px;
	font-size: 0;
}

.filter-price label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 36px;
	font-weight: normal;
	cursor: pointer;
}

.filter-price .price-min,
.filter-price .price-max {
	display: flex;
	align-items: center;
	width: 100%;
}

.filter-price span,
.filter-price input {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.filter-price span {
	text-align: right;
}

.filter-price input {
	text-align: left;
	padding-left: 5px;
	margin: 0;
	border: none;
	color: inherit;
	font: inherit;
	background: none;
}

.filter-price:after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.range {
	margin-top: 19px;
	position: relative;
	height: 2px;
}

.scale {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);	 
}

.scale-line {
	width: 80%;
	height: 100%;
	background-color: #ffffff;
}

.toggle {
    position: absolute;
    top: -8px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    cursor: pointer;
}

.toggle:hover {
	background-color: #1c4f80;
}

.range-min {
	left: 0;
}

.range-max {
	left: 80%;
}

.filter-rang button {
	display: block;
	width: 133px;
	height: 32px;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 2px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	font-weight: normal;
	text-transform: inherit;
	margin: 0 auto;
	margin-top: 32px;
	cursor: pointer;
}

.filter-rang button:hover {
	background-color: #ffffff;
	color: #000000;
}

.sort {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px; 
}

.sort p,
.sort ul {
	margin: 0;
}

.sort-find {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.find-total {
	padding-left: 5px;
}

.sort-items {
	display: flex;
	align-items: flex-start;
	margin-left: 50px;
	align-items: center;
}

.sort-items p {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sort-items ul {
	list-style: none;
	padding: 0;
	display: flex;
}

.sort-items a {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
	margin-left: 35px;
	border-bottom: 1px dashed #81b3d2;
}

.sort-items .active {
	border-bottom: none;
	color: #81b3d2;
}

.sort-items a:hover {
	color: #81b3d2;
}

.sort-items a:active {
	color: #000000;
}

.order-acs,
.order-decs {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 10px;
}

.sort-order {
	margin-left: auto;
}

.order-acs {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #cccccc transparent;
}

.order-acs:hover {
	border-color: transparent transparent #000000 transparent;
}

.order-acs:active {
	border-color: transparent transparent #81b3d2 transparent;
}

.order-decs {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5.5px 0 5.5px;
	border-color: #81b3d2 transparent transparent transparent;
	margin-left: 10px;
}

.order-decs:hover {
	border-color: #000000 transparent transparent transparent;
}

.order-decs:active {
	border-color: #81b3d2 transparent transparent transparent;
}

.item {
	display: flex;
	padding: 26px 73px 29px;
	border-top: 1px solid rgba(102, 102, 102, 0.3);
}

.item:last-child {
	border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}

.item-picture img {
	width: 135px;
	height: 91px;
	padding-top: 5px;
	display: block;
	align-self: flex-end;
}

.item-describes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}

.item p,
.item h2 {
	margin: 0;
	padding: 0;
}

.describes-title a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.describes-title a:hover {
	color: #81b3d2; 
}

.describes-title a:active {
	color: #cacaca;
}

.item-btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-align: center;
}

.item-details {
	font-size: 0;
	padding-bottom: 9px;
	position: relative;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.item-type-house {
	display: inline-block;
	vertical-align: top;
	width: 110px;
}

.item-price {
	display: inline-block;
	vertical-align: top;
}

.item-btn-wrapper a {
	padding: 0;
	margin: 0;
	line-height: 27px;
}

.details {
	display: inline-block;
	vertical-align: top;
	width: 110px;
	background-color: #81b3d2;
}

.details:hover {
	background-color: #669ec0;
}

.details:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.reserve {
	display: inline-block;
	width: 144px;
	background-color: #766357;	
}

.reserve:hover {
	background-color: #604e43;
}

.reserve:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.item-rating {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	justify-content: space-between;
	align-items: flex-end;
}

.rating-star {
	width: 18px;
	height: 17px;
	background-image: url("../img/sprite.png");
	background-position: -5px -589px;
}

.rating-star-wrapper span {
	display: inline-block;
	vertical-align: bottom;
}

.rating-result p {
	width: 110px;
	height: 25px;
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	text-align: center;
	margin: auto 0;
}