body {
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	text-align: center;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.item-describes h2 {
	line-height: 26px;
	color: #000000;
}

h3 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.filter h3 {
	font-size: 16px;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 1200px;
	background-color: yellow;
	margin: 0 auto;
}

.main-nav ul {
	font-size: 0;
	
}

.main-nav li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	width: 240px;
}

.picture {
	background: 0 -50px url("../img/fon-mid.jpg");
	height: 510px;
	padding-top: 75px;

}

.picture-text {
	text-align: center;
}

.picture-mask {
	background: red url("../img/mask.png");
}

.content-top {
	background-color: green;
	height: 150px;
	padding-top: 65px;

}

.content-top p {
	font-size: 15px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.feature-wrapper {
	background-color: blue;
	display: flex;
}

.feature-fact {
	width: 400px;
	background-color: salmon;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 55px;
}

.feature-picture {
	width: 800px;
}

.tips-wrapper {
	font-size: 0;
}

.tip {
	display: inline-block;
	width: 400px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.features {
	background-color: olive;
	font-size: 0;
}

.features-item {
	display: inline-block;
	width: 400px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 65px;
}

.booking {
	background-color: tomato; 
	text-align: center;
	padding-top: 55px;
	padding-bottom: 135px;
}

.booking-title {
	font-size: 30px;
	line-height: 24px;
}

.booking-text {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.popup {
	width: 575px;
	height: 474px;
	background-color: coral;
}

.popup-title {
	background-color: #766357;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
}

.found-btn {
	width: 455px;
	height: 60px;
	background-color: #81b3d2;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	border: none;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: yellowgreen;
	color: #000000;
}

.footer-hashtag {
	font-size: 21px;
	line-height: 26px;
}

.social-btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: blue;
	border: 1px solid black;
}

.social-btn-tw {
	background: 50% 50% url("../img/tw.png") no-repeat;
}

.social-btn-fb {
	background: 50% 50% url("../img/fb.png") no-repeat;
}

.social-btn-yt {
	background: 50% 50% url("../img/yt.png") no-repeat;
}